@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

// Base button
.btn {
    @include mx.flex-center(row);
    gap: map-get(var.$spacing, sm);
    padding: map-get(var.$spacing, sm) map-get(var.$spacing, lg);
    font-weight: map-get(var.$font-weights, bold);
    cursor: pointer;
    border: none;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.85;
    }

    &--play {
        background-color: var.$color-yellow;
        color: var.$primary-dark;
        font-size: fct.px-to-rem(40);
        font-weight: 700;
        font-family: var.$font-display;
        width: 270px;
        height: 100px;
        padding: map-get(var.$spacing, md) map-get(var.$spacing, xl);
        gap: map-get(var.$spacing, sm);
        margin-top: map-get(var.$spacing, xxl);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mx.respond(md, lg) {
            font-size: fct.px-to-rem(32);
            width: 240px;
            height: 90px;
            padding: map-get(var.$spacing, m) map-get(var.$spacing, lg);
            gap: map-get(var.$spacing, xs);
            margin-top: map-get(var.$spacing, xl);
        }

        @include mx.respond(sm, md) {
            font-size: fct.px-to-rem(28);
            width: 220px;
            height: 80px;
            padding: map-get(var.$spacing, sm) map-get(var.$spacing, md);
            margin-top: map-get(var.$spacing, lg);
        }

        @include mx.respond(xs, sm) {
            font-size: fct.px-to-rem(24);
            width: 160px;
            height: 60px;
            padding: map-get(var.$spacing, xs) map-get(var.$spacing, m);
            margin-top: map-get(var.$spacing, md);
        }

        @include mx.respond(zero, xs) {
            font-size: fct.px-to-rem(24);
            width: 120px;
            height: 55px;
            padding: map-get(var.$spacing, xs) map-get(var.$spacing, m);
            margin-top: map-get(var.$spacing, md);
        }

        @include mx.respond-height(sm, md) {
            height: 60px;
            width: 180px;
            font-size: fct.px-to-rem(24);
            margin-top: map-get(var.$spacing, md);
        }

        @include mx.respond-height(xs, sm) {
            height: 50px;
            width: 150px;
            font-size: fct.px-to-rem(20);
            margin-top: map-get(var.$spacing, sm);
        }

        @include mx.respond-height(zero, xs) {
            height: 40px;
            width: 120px;
            font-size: fct.px-to-rem(16);
            margin-top: map-get(var.$spacing, xs);
        }

        img {
            width: 44px;
            aspect-ratio: 1.38 / 1;
            transition: transform 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;

            @include mx.respond(md, lg) {
                width: 36px;
            }

            @include mx.respond(sm, md) {
                width: 30px;
            }

            @include mx.respond(xs, sm) {
                width: 25px;
            }

            @include mx.respond(zero, xs) {
                width: 20px;
            }

            @include mx.respond-height(md, lg) {
                width: 30px;
            }

            @include mx.respond-height(sm, md) {
                width: 24px;
            }

            @include mx.respond-height(zero, sm) {
                width: 18px;
            }
        }

        span {
            font-size: fct.px-to-rem(40);

            @include mx.respond(md, lg) {
                font-size: fct.px-to-rem(32);
            }

            @include mx.respond(sm, md) {
                font-size: fct.px-to-rem(28);
            }

            @include mx.respond(xs, sm) {
                font-size: fct.px-to-rem(24);
            }

            @include mx.respond(zero, xs) {
                font-size: fct.px-to-rem(20);
            }

            @include mx.respond-height(md, lg) {
                font-size: fct.px-to-rem(30);
            }

            @include mx.respond-height(sm, md) {
                font-size: fct.px-to-rem(24);
            }

            @include mx.respond-height(xs, sm) {
                font-size: fct.px-to-rem(20);
            }

            @include mx.respond-height(zero, xs) {
                font-size: fct.px-to-rem(16);
            }
        }

        &:hover img {
            width: 50px;
            aspect-ratio: 1.38 / 1;
            transform: rotate(-26deg);

            @include mx.respond(md, lg) {
                width: 40px;
            }

            @include mx.respond(sm, md) {
                width: 35px;
            }

            @include mx.respond(xs, sm) {
                width: 30px;
            }

            @include mx.respond(zero, xs) {
                width: 25px;
            }
        }
    }

    &__arrow {
        font-weight: 400;
    
        &:hover {
            font-weight: 700;
        }
    }

    &--start {
        background-color: var.$color-yellow;
        color: var.$primary-dark;
        font-weight: map-get(var.$font-weights, bold);
        width: 126px;
        aspect-ratio: 2.4 / 1;
        padding: 14px 20px;
        gap: map-get(var.$spacing, sm);

        @include mx.respond(md, lg) {
            width: 110px;
        }

        @include mx.respond(sm, md) {
            width: 95px;
        }

        @include mx.respond(xs, sm) {
            width: 80px;
        }

        @include mx.respond(zero, xs) {
            width: 65px;
        }

        @include mx.respond-height(md, lg) {
            width: 100px;
            padding: 10px 16px;
        }

        @include mx.respond-height(sm, md) {
            width: 85px;
            padding: 8px 12px;
        }

        @include mx.respond-height(xs, sm) {
            width: 70px;
            padding: 6px 10px;
        }

        @include mx.respond-height(zero, xs) {
            width: 60px;
            padding: 4px 8px;
        }

        img {
            width: 20px;
            aspect-ratio: 1.25 / 1;
            transition: transform 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;

            @include mx.respond(md, lg) {
                width: 18px;
            }

            @include mx.respond(sm, md) {
                width: 16px;
            }

            @include mx.respond(xs, sm) {
                width: 14px;
            }

            @include mx.respond(zero, xs) {
                width: 12px;
            }

            @include mx.respond(zero, xs) {
                width: 12px;
            }

            @include mx.respond-height(sm, md) {
                width: 14px;
            }

            @include mx.respond-height(zero, sm) {
                width: 12px;
            }
        }

        span {
            font-size: fct.px-to-rem(20);

            @include mx.respond(md, lg) {
                font-size: fct.px-to-rem(18);
            }

            @include mx.respond(sm, md) {
                font-size: fct.px-to-rem(16);
            }

            @include mx.respond(xs, sm) {
                font-size: fct.px-to-rem(14);
            }

            @include mx.respond(zero, xs) {
                font-size: fct.px-to-rem(12);
            }

            @include mx.respond-height(md, lg) {
                font-size: fct.px-to-rem(16);
            }

            @include mx.respond-height(sm, md) {
                font-size: fct.px-to-rem(14);
            }

            @include mx.respond-height(zero, sm) {
                font-size: fct.px-to-rem(12);
            }
        }

        &:hover img {
            width: 25px;
            aspect-ratio: 1.25 / 1;
            transform: rotate(-5deg);

            @include mx.respond(md, lg) {
                width: 23px;
            }

            @include mx.respond(sm, md) {
                width: 21px;
            }

            @include mx.respond(xs, sm) {
                width: 19px;
            }

            @include mx.respond(zero, xs) {
                width: 17px;
            }
        }

        &:hover span {
            font-size: fct.px-to-rem(22);

            @include mx.respond(md, lg) {
                font-size: fct.px-to-rem(20);
            }

            @include mx.respond(sm, md) {
                font-size: fct.px-to-rem(18);
            }

            @include mx.respond(xs, sm) {
                font-size: fct.px-to-rem(16);
            }

            @include mx.respond(zero, xs) {
                font-size: fct.px-to-rem(14);
            }
        }
    }

    &--exit {
        color: var.$color-white;
        font-weight: map-get(var.$font-weights, bold);
        padding: fct.px-to-rem(16) fct.px-to-rem(24);
        border: none;

        @include mx.respond(md, lg) {
            padding: fct.px-to-rem(16) fct.px-to-rem(24);
        }

        @include mx.respond(sm, md) {
            padding: fct.px-to-rem(8) fct.px-to-rem(12);
        }

        @include mx.respond(xs, sm) {
            padding: fct.px-to-rem(6) fct.px-to-rem(9);
        }

        @include mx.respond(zero, xs) {
            padding: fct.px-to-rem(6) fct.px-to-rem(9);
        }

        @include mx.respond-height(md, lg) {
            padding: fct.px-to-rem(10) fct.px-to-rem(16);
        }

        @include mx.respond-height(sm, md) {
            padding: fct.px-to-rem(6) fct.px-to-rem(12);
        }

        @include mx.respond-height(zero, sm) {
            padding: fct.px-to-rem(4) fct.px-to-rem(8);
        }

        img {
            width: 26px;

            @include mx.respond(md, lg) {
                width: 22px;
            }

            @include mx.respond(sm, md) {
                width: 20px;
            }

            @include mx.respond(xs, sm) {
                width: 18px;
            }

            @include mx.respond(zero, xs) {
                width: 16px;
            }

            @include mx.respond-height(md, lg) {
                width: 20px;
            }

            @include mx.respond-height(sm, md) {
                width: 16px;
            }

            @include mx.respond-height(zero, sm) {
                width: 14px;
            }
        }

        &:hover {
            opacity: 1;
        }
    }

    &--no, &--yes, &--back {
        color: var.$color-white;
        font-weight: map-get(var.$font-weights, bold);
        font-size: fct.px-to-rem(20);
        border: none;
        padding: fct.px-to-rem(16) fct.px-to-rem(24);

        @include mx.respond(md, lg) {
            font-size: fct.px-to-rem(18);
            padding: fct.px-to-rem(14) fct.px-to-rem(21);
        }

        @include mx.respond(sm, md) {
            font-size: fct.px-to-rem(16);
            padding: fct.px-to-rem(12) fct.px-to-rem(18);
        }

        @include mx.respond(xs, sm) {
            font-size: fct.px-to-rem(14);
            padding: fct.px-to-rem(8) fct.px-to-rem(12);
        }

        @include mx.respond(zero, xs) {
            font-size: fct.px-to-rem(12);
            padding: fct.px-to-rem(6) fct.px-to-rem(9);
        }

        @include mx.respond-height(md, lg) {
            font-size: fct.px-to-rem(16);
            padding: fct.px-to-rem(10) fct.px-to-rem(16);
        }

        @include mx.respond-height(sm, md) {
            font-size: fct.px-to-rem(14);
            padding: fct.px-to-rem(8) fct.px-to-rem(12);
        }

        @include mx.respond-height(xs, sm) {
            font-size: fct.px-to-rem(12);
            padding: fct.px-to-rem(6) fct.px-to-rem(10);
        }

        @include mx.respond-height(zero, xs) {
            font-size: fct.px-to-rem(10);
            padding: fct.px-to-rem(4) fct.px-to-rem(8);
        }

        &:hover {
            opacity: 1;
        }
    }
}