@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.card {
    background-color: transparent;
    border: none;
    cursor: pointer;
    perspective: 1000px;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        @include mx.card-flip();
    }

    &__face {
        @include mx.fill();
        backface-visibility: hidden;
        @include mx.flex-center();
        overflow: hidden;

        img {
            object-fit: contain;
        }

        &--back {
            transform: rotateY(180deg);
        }
    }

    &.is-flipped .card__inner {
        transform: rotateY(180deg);
    }

    &.is-matched .card__face--front {
        border: 3px solid var(--color-accent);
    }

    &.is-matched .card__inner {
        transform: rotateY(180deg);
    }
}