@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.game-header {
    @include mx.flex-center(row);
    justify-content: space-between;
    padding: map-get(var.$spacing, sm) map-get(var.$spacing, lg);
    width: 100%;

    @include mx.respond(md, lg) {
        padding: map-get(var.$spacing, xs) map-get(var.$spacing, md);
    }

    &__scores {
        @include mx.flex-center(row);
        gap: map-get(var.$spacing, sm);

        @include mx.respond(md, lg) {
            gap: map-get(var.$spacing, xs);
        }

        @include mx.respond(zero, md) {
            gap: 0;
        }

        span {
            font-weight: map-get(var.$font-weights, bold);
        }
    }

    &__current {
        @include mx.flex-center(row);
        gap: map-get(var.$spacing, sm);
        color: var.$color-white;
    }
}

.current-player-wrapper {
    @include mx.flex-center();
}

.score {
    @include mx.flex-center(row);
    padding: map-get(var.$spacing, xs) map-get(var.$spacing, md);
    gap: map-get(var.$spacing, sm);

    @include mx.respond(md, lg) {
        padding: map-get(var.$spacing, xs) map-get(var.$spacing, m);    }

    @include mx.respond(sm, md) {
        padding: map-get(var.$spacing, xs) map-get(var.$spacing, sm);
        gap: map-get(var.$spacing, xs);
    }
   
    @include mx.respond(zero, sm) {
        padding: map-get(var.$spacing, xs) map-get(var.$spacing, xs);
    }

    &--blue {
        color: #2BB1FF;
    }

    &--orange {
        color: #F58E39;
    }
}