@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.game-header {
    @include mx.flex-center(row);
    justify-content: space-between;
    padding: map-get(var.$spacing, sm) map-get(var.$spacing, lg);
    width: 100%;

    &__scores {
        @include mx.flex-center(row);
        gap: map-get(var.$spacing, sm);
        background-color: rgba(map-get(var.$coding, teal-light), 0.2);

        & span {
            font-family: var.$font-display;
            font-size: fct.px-to-rem(24);
            font-weight: 700;
        }
    }

    &__current {
        @include mx.flex-center(row);
        gap: map-get(var.$spacing, sm);
        color: var.$color-white;
        font-family: var.$font-display;
        font-size: fct.px-to-rem(26);
        font-weight: 400;
    }
}

.score {
    @include mx.flex-center(row);
    gap: map-get(var.$spacing, xs);
    padding: map-get(var.$spacing, xs) map-get(var.$spacing, md);
    border-radius: map-get(var.$radius, full);
    font-family: var.$font-display;
    font-size: fct.px-to-rem(26);
    font-weight: 700;

    img {
        width: 20px;
        height: 20px;
    }

    &--blue {
        color: #2BB1FF;
    }

    &--orange {
        color: #F58E39;
    }
}

.theme-gaming {
    .game-header__scores {
        background-color: rgba(map-get(var.$gaming, header-bg), 0.20);
    }
}