@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    @include mx.flex-center();
    z-index: 100;
    display: none;

    &.is-active {
        display: flex;
    }

    &__box {
        background-color: var.$color-white;
        padding: map-get(var.$spacing, xxl);
        @include mx.flex-center(column);
        gap: map-get(var.$spacing, xxxl);
        width: 540px;
    }

    &__text {
        font-family: var.$font-display;
        font-size: fct.px-to-rem(32);
        font-weight: map-get(var.$font-weights, bold);
        color: var.$color-black;
        text-align: center;
    }

    &__actions {
        @include mx.flex-center(row);
        gap: map-get(var.$spacing, md);
    }
}