@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    @include mx.flex-center();
    z-index: 100;
    display: none;

    &.is-active {
        display: flex;
    }

    &__box {
        @include mx.flex-center(column);
        background-color: var.$color-white;
        padding: map-get(var.$spacing, xxl);
        gap: map-get(var.$spacing, xxxl);
        max-width: 540px;
        width: 70vw;

        @include mx.respond(md, lg) {
            padding: map-get(var.$spacing, xl);
            gap: map-get(var.$spacing, xxl);
        }

        @include mx.respond(sm, md) {
            padding: map-get(var.$spacing, lg);
            gap: map-get(var.$spacing, xl);
        }

        @include mx.respond(xs, sm) {
            padding: map-get(var.$spacing, md);
            gap: map-get(var.$spacing, lg);
        }

        @include mx.respond(zero, xs) {
            padding: map-get(var.$spacing, m);
            gap: map-get(var.$spacing, md);
        }
    }

    &__text {
        font-family: var.$font-display;
        font-size: fct.px-to-rem(32);
        font-weight: map-get(var.$font-weights, bold);
        color: var.$color-black;
        text-align: center;

        @include mx.respond(md, lg) {
            font-size: fct.px-to-rem(26);
        }

        @include mx.respond(sm, md) {
            font-size: fct.px-to-rem(24);
        }

        @include mx.respond(xs, sm) {
            font-size: fct.px-to-rem(20);
        }

        @include mx.respond(zero, xs) {
            font-size: fct.px-to-rem(16);
        }
    }

    &__actions {
        @include mx.flex-center(row);
        gap: map-get(var.$spacing, md);
    }
}

.theme-gaming {
    .popup__box {
        background-color: map-get(var.$gaming, popup-bg);
    }

    .popup__text {
        color: map-get(var.$gaming, popup-font);
    }
}