@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.view--gameover {
    background-color: var(--color-bg);
    min-height: 100vh;

    &.is-active {
        @include mx.fade-in(0.3s);
    }
}

.gameover {
    @include mx.flex-center(column);
    min-height: 100vh;
    gap: map-get(var.$spacing, xl);

    @include mx.respond(md, lg) {
        gap: map-get(var.$spacing, lg);
    }

    @include mx.respond(sm, md) {
        gap: map-get(var.$spacing, md);
    }

    @include mx.respond(xs, sm) {
        gap: map-get(var.$spacing, m);
    }

    @include mx.respond(zero, xs) {
        gap: map-get(var.$spacing, sm);
    }

    &__title {
        font-weight: map-get(var.$font-weights, bold);
    }

    &__subtitle {
        color: var.$color-white;
        font-size: fct.px-to-rem(28);

        @include mx.respond(md, lg) {
            font-size: fct.px-to-rem(24);
        }

        @include mx.respond(sm, md) {
            font-size: fct.px-to-rem(20);
        }

        @include mx.respond(zero, sm) {
            font-size: fct.px-to-rem(16);
        }
    }

    &__scores {
        @include mx.flex-center(row);
        gap: map-get(var.$spacing, md);

        @include mx.respond(md, lg) {
            gap: map-get(var.$spacing, m);
        }

        @include mx.respond(sm, md) {
            gap: map-get(var.$spacing, sm);
        }

        @include mx.respond(zero, sm) {
            gap: map-get(var.$spacing, xs);
        }
    }
}