@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.view--game {
    background-color: var(--color-bg);
    min-height: 100vh;

    &.is-active {
        @include mx.fade-in(0.3s);
    }

    @include mx.respond(xl, xxl) {
        max-width: 1440px;
    }
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 54px 41px;
    gap: map-get(var.$spacing, xl);

    @include mx.respond(md, lg) {
        padding: 44px 32px;
        gap: map-get(var.$spacing, lg);
    }

    @include mx.respond(sm, md) {
        padding: 30px 16px;
        gap: map-get(var.$spacing, md);
    }

    @include mx.respond(zero, sm) {
        padding: 22px 12px;
        gap: map-get(var.$spacing, sm);
    }
}

.board {
    display: grid;
    gap: map-get(var.$spacing, sm);
    justify-content: center;

    @include mx.respond(zero, xs) {
        gap: map-get(var.$spacing, xs);
    }

    &--16 {
        grid-template-columns: repeat(4, 1fr);
    }

    &--24 {
        grid-template-columns: repeat(6, 1fr);
    }

    &--36 {
        grid-template-columns: repeat(6, 1fr);
    }
}