@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.view--home {
    background-color: var.$color-home-bg;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    @include mx.respond(xl, xxl) {
        max-width: 1440px;
        height: 1024px;
    }
}

.home {
    width: 100%;
    height: 100%;
    position: relative;
    @include mx.flex-center(column);

    @include mx.respond(zero, md) {
        padding-left: map-get(var.$spacing, lg);
        align-items: center;
    }

    &__content {
        @include mx.flex-center(column);
        height: 100vh;
        z-index: 1;
    }

    &__subtitle {
        color: var.$color-white;
        align-self: flex-start;
        font-size: fct.px-to-rem(48);

        @include mx.respond(md, xl) {
            font-size: fct.px-to-rem(32);
        }

        @include mx.respond(zero, md) {
            font-size: fct.px-to-rem(20);
        }
    }

    &__title {
        color: var.$color-white;
        font-weight: map-get(var.$font-weights, bold);
        font-family: var.$font-display;
        font-size: fct.px-to-rem(140);

        @include mx.respond(lg, xxl) {
            font-size: fct.px-to-rem(100);
        }

        @include mx.respond(md, lg) {
            font-size: fct.px-to-rem(72);
        }

        @include mx.respond(zero, md) {
            font-size: fct.px-to-rem(48);
        }
    }

    &__deco {
        position: absolute;
        top: 53vh;
        left: -6vw;
        width: 28vw;
        height: auto;
        pointer-events: none;
        z-index: 0;
    }
}