@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.view--winner {
    background-color: var(--color-bg);
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    &.is-active {
        @include mx.fade-in(0.3s);
    }
}

.winner {
    @include mx.flex-center(column);
    min-height: 100vh;
    gap: map-get(var.$spacing, lg);
    max-width: 1440px;
    margin: 0 auto;

    @include mx.respond(md, lg) {
        gap: map-get(var.$spacing, md);
    }

    @include mx.respond(sm, md) {
        gap: map-get(var.$spacing, m);
    }

    @include mx.respond(zero, sm) {
        gap: map-get(var.$spacing, xs);
    }

    @include mx.respond-height(lg, xl) {
        gap: map-get(var.$spacing, md);
    }

    @include mx.respond-height(md, lg) {
        gap: map-get(var.$spacing, sm);
    }

    @include mx.respond-height(sm, md) {
        gap: map-get(var.$spacing, xs);
    }

    @include mx.respond-height(zero, sm) {
        gap: 2px;
    }

    &__confetti {
        position: absolute;
        top: -32px;
        left: 0;
        right: 0;
        width: 100%;
        pointer-events: none;
        z-index: 0;

        @include mx.respond-height(zero, md) {
            top: -16px;
        }
    }

    &__subtitle {
        color: var.$color-white;
        z-index: 1;
    }

    &__name {
        font-weight: map-get(var.$font-weights, bold);
        z-index: 1;

        &--blue {
            color: var.$player-blue;
        }

        &--orange {
            color: var.$player-orange;
        }
    }

    &__icon {
        object-fit: contain;
        margin: 40px 0;

        @include mx.respond(md, lg) {
            margin: 30px 0;
        }

        @include mx.respond(sm, md) {
            margin: 20px 0;
        }

        @include mx.respond(zero, sm) {
            margin: 10px 0;
        }

        @include mx.respond-height(lg, xl) {
            margin: 20px 0;
        }

        @include mx.respond-height(md, lg) {
            margin: 14px 0;
        }

        @include mx.respond-height(sm, md) {
            margin: 8px 0;
        }

        @include mx.respond-height(zero, sm) {
            margin: 4px 0;
        }
    }
}