@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.view--winner {
    background-color: var(--color-bg);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.winner {
    @include mx.flex-center(column);
    min-height: 100vh;
    gap: map-get(var.$spacing, lg);

    &__confetti {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        pointer-events: none;
        z-index: 0;
    }

    &__subtitle {
        font-family: var.$font-display;
        font-size: fct.px-to-rem(40);
        color: var.$color-white;
    }

    &__name {
        font-family: var.$font-display;
        font-size: fct.px-to-rem(60);
        font-weight: map-get(var.$font-weights, bold);
        text-transform: uppercase;

        &--blue {
            color: var.$player-blue;
        }

        &--orange {
            color: var.$player-orange;
        }
    }

    &__icon {
        width: 200px;
        height: 250px;
        object-fit: contain;
    }

    // Konfetti wrapper
    &__confetti {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
    }
}