@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.theme-coding {
    @include mx.apply-theme(var.$coding);

    .btn--exit {
        background-color: rgba(map-get(var.$coding, teal-light), 0.14);
        box-shadow: inset 0 0 0 2px map-get(var.$coding, teal);

        .btn__icon--hover { display: none; }
        .btn__icon--default { display: block; }

        &:hover {
            background-color: rgba(map-get(var.$coding, teal-light), 0.26);
            box-shadow: 
                inset 0 0 0 3px map-get(var.$coding, teal),
                4px 4px 6px 0 rgba(map-get(var.$coding, teal), 0.2);
        }
    }

    .btn--no {
        background-color: map-get(var.$coding, teal-mid);

        &:hover {
            background-color: rgba(map-get(var.$coding, teal-mid), 0.7);
            box-shadow: inset 0 0 0 3px map-get(var.$coding, teal-dark);
        }
    }

    .btn--yes {
        background-color: rgba(map-get(var.$coding, teal-light), 0.14);
        box-shadow: inset 0 0 0 2px map-get(var.$coding, teal);
        color: map-get(var.$coding, teal);

        &:hover {
            background-color: rgba(map-get(var.$coding, teal-light), 0.26);
        }
    }

    .btn--back {
        background-color: rgba(map-get(var.$coding, teal-light), 0.20);
        box-shadow: inset 0 0 0 1px map-get(var.$coding, teal);
        font-family: var.$font-display;
        font-size: fct.px-to-rem(24);

        &:hover {
            background-color: rgba(map-get(var.$coding, teal-light), 0.35);
            box-shadow: inset 0 0 0 2px map-get(var.$coding, teal);
        }
    }

    .game-header {
        height: 62px;
        margin-top: 41px;
        background-color: rgba(map-get(var.$coding, header-bg), 1);

        &__scores {
            background-color: rgba(map-get(var.$coding, teal-light), 0.2);

             & span {
            font-family: var.$font-display;
            font-size: fct.px-to-rem(24);
            font-weight: 700;
        }
        }
        
        &__current {
            span {
                font-family: var.$font-display;
                font-size: fct.px-to-rem(26);
                font-weight: map-get(var.$font-weights, regular);
                letter-spacing: 7%;
            }
        }
    }

    .card {
        width: 120px;
        aspect-ratio: 1 / 1;
    }
}