@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.theme-coding {
    @include mx.apply-theme(var.$coding);

    .btn--exit {
        background-color: rgba(map-get(var.$coding, teal-light), 0.14);
        box-shadow: inset 0 0 0 2px map-get(var.$coding, teal);

        .btn__icon--hover { display: none; }
        .btn__icon--default { display: block; }

        &:hover {
            background-color: rgba(map-get(var.$coding, teal-light), 0.26);
            box-shadow: 
                inset 0 0 0 3px map-get(var.$coding, teal),
                4px 4px 6px 0 rgba(map-get(var.$coding, teal), 0.2);
        }
    }

    .btn--no {
        background-color: map-get(var.$coding, teal-mid);

        &:hover {
            background-color: rgba(map-get(var.$coding, teal-mid), 0.7);
            box-shadow: inset 0 0 0 3px map-get(var.$coding, teal-dark);
        }
    }

    .btn--yes {
        background-color: rgba(map-get(var.$coding, teal-light), 0.14);
        box-shadow: inset 0 0 0 2px map-get(var.$coding, teal);
        color: map-get(var.$coding, teal);

        &:hover {
            background-color: rgba(map-get(var.$coding, teal-light), 0.26);
        }
    }

    .btn--back {
        background-color: rgba(map-get(var.$coding, teal-light), 0.20);
        box-shadow: inset 0 0 0 1px map-get(var.$coding, teal);
        font-family: var.$font-display;
        font-size: fct.px-to-rem(24);

        &:hover {
            background-color: rgba(map-get(var.$coding, teal-light), 0.35);
            box-shadow: inset 0 0 0 2px map-get(var.$coding, teal);
        }
    }

    .game-header {
        background-color: map-get(var.$coding, header-bg);

        &__scores {
            background-color: rgba(map-get(var.$coding, teal-light), 0.2);

            span {
                font-family: var.$font-display;
                font-size: fct.px-to-rem(24);

                @include mx.respond(md, lg) {
                    font-size: fct.px-to-rem(20);
                }

                @include mx.respond(sm, md) {
                    font-size: fct.px-to-rem(16);
                }

                @include mx.respond(xs, sm) {
                    font-size: fct.px-to-rem(12);
                }

                @include mx.respond(zero, xs) {
                    font-size: fct.px-to-rem(8);
                }
            }
        }
        
        &__current {
            span {
                font-family: var.$font-display;
                font-size: fct.px-to-rem(26);
                font-weight: map-get(var.$font-weights, regular);
                letter-spacing: 7%;

                @include mx.respond(md, lg) {
                    font-size: fct.px-to-rem(22);
                }

                @include mx.respond(sm, md) {
                    font-size: fct.px-to-rem(18);
                }

                @include mx.respond(xs, sm) {
                    font-size: fct.px-to-rem(14);
                }

                @include mx.respond(zero, xs) {
                    font-size: fct.px-to-rem(10);
                }
            }
        }
    }

    .score img, .current-player-wrapper img {
        width: 20px;
        aspect-ratio: 1 / 1;

        @include mx.respond(md, lg) {
            width: 18px;
        }

        @include mx.respond(sm, md) {
            width: 16px;
        }

        @include mx.respond(xs, sm) {
            width: 14px;
        }

        @include mx.respond(zero, xs) {
            width: 12px;
        }
    }

    .card {
        width: 120px;
        aspect-ratio: 1 / 1;

        @include mx.respond(md, lg) {
            width: 110px;
        }

        @include mx.respond(sm, md) {
            width: 85px;
        }

        @include mx.respond(xs, sm) {
            width: 65px;
        }
    }

    .gameover {
        &__title {
            font-size: map-get(var.$font-sizes, xxl);
            color: var(--color-accent);
            letter-spacing: 4px;

            @include mx.respond(md, lg) {
                font-size: fct.px-to-rem(54);
            }

            @include mx.respond(sm, md) {
                font-size: fct.px-to-rem(44);
            }

            @include mx.respond(zero, sm) {
                font-size: fct.px-to-rem(34);
            }
        }

        &__scores {
            background-color: rgba(255, 255, 255, 0.1);
            padding: map-get(var.$spacing, sm) map-get(var.$spacing, xl);

            @include mx.respond(md, lg) {
                padding: map-get(var.$spacing, sm) map-get(var.$spacing, lg);
            }

            @include mx.respond(sm, md) {
                padding: map-get(var.$spacing, xs) map-get(var.$spacing, md);
            }

            @include mx.respond(zero, sm) {
                padding: map-get(var.$spacing, xs) map-get(var.$spacing, m);
            }
        }
    }

    .winner {
        &__subtitle {
            font-family: var.$font-display;
            font-size: fct.px-to-rem(40);

            @include mx.respond(md, lg) {
                font-size: fct.px-to-rem(32);
            }

            @include mx.respond(sm, md) {
                font-size: fct.px-to-rem(26);
            }

            @include mx.respond(zero, sm) {
                font-size: fct.px-to-rem(20);
            }
        }

        &__name {
            font-family: var.$font-display;
            font-size: fct.px-to-rem(60);
            text-transform: uppercase;

            @include mx.respond(md, lg) {
                font-size: fct.px-to-rem(50);
            }

            @include mx.respond(sm, md) {
                font-size: fct.px-to-rem(40);
            }

            @include mx.respond(zero, sm) {
                font-size: fct.px-to-rem(30);
            }
        }

         &__icon {
            width: 200px;
            aspect-ratio: 1 / 1.25;

            @include mx.respond(md, lg) {
                width: 175px;
            }

            @include mx.respond(sm, md) {
                width: 150px;
            }

            @include mx.respond(zero, sm) {
                width: 125px;
            }
        }
    }
}