@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.theme-gaming {
    @include mx.apply-theme(var.$gaming);

    .btn--exit {
        background-color: rgba(map-get(var.$gaming, pink), 0.08);
        box-shadow: inset 0 0 0 2px map-get(var.$gaming, pink-border);
        border-radius: 10px;

        @include mx.respond(zero, md) {
            border-radius: 6px;
        }

        span {
            font-size: fct.px-to-rem(20);
            font-family: var.$font-gaming;

            @include mx.respond(md, lg) {
                font-size: fct.px-to-rem(18);
            }

            @include mx.respond(sm, md) {
                font-size: fct.px-to-rem(16);
            }

            @include mx.respond(xs, sm) {
                font-size: fct.px-to-rem(14);
            }

            @include mx.respond(zero, xs) {
                font-size: fct.px-to-rem(12);
            }
        }

        .btn__icon--default { display: block; }
        .btn__icon--hover { display: none; }

        &:hover {
            background-color: rgba(map-get(var.$gaming, pink), 0.14);
            box-shadow: 
                inset 0 0 0 3px map-get(var.$gaming, pink-border),
                4px 4px 6px 0 rgba(map-get(var.$gaming, pink-border), 0.2);

            .btn__icon--default { display: none; }
            .btn__icon--hover { display: block; }
        }
    }

    .btn--no {
        background-color: map-get(var.$gaming, pink);
        border-radius: 10px;

        @include mx.respond(zero, md) {
            border-radius: 6px;
        }

        &:hover {
            background-color: rgba(map-get(var.$gaming, pink), 0.7);
            box-shadow: inset 0 0 0 3px map-get(var.$gaming, pink-border);
        }
    }

    .btn--yes {
        background-color: rgba(map-get(var.$gaming, pink), 0.18);
        box-shadow: inset 0 0 0 2px map-get(var.$gaming, pink-border);
        color: map-get(var.$gaming, pink);
        border-radius: 10px;

        @include mx.respond(zero, md) {
            border-radius: 6px;
        }
    }

    .btn--back {
        background-color: rgba(map-get(var.$gaming, pink), 0.08);
        box-shadow: inset 0 0 0 2px map-get(var.$gaming, pink-border);
        font-family: var.$font-gaming;
        font-size: fct.px-to-rem(20);
        border-radius: 10px;

        @include mx.respond(zero, md) {
            border-radius: 6px;
        }

        &:hover {
            background-color: rgba(map-get(var.$gaming, pink), 0.14);
            box-shadow: inset 0 0 0 3px map-get(var.$gaming, pink-border);
        }
    }

    .game-header {
        background-color: rgba(map-get(var.$gaming, header-bg), 0.2);
        padding: map-get(var.$spacing, md) map-get(var.$spacing, lg);
        border-radius: 10px;

        @include mx.respond(md, lg) {
            padding: map-get(var.$spacing, m) map-get(var.$spacing, md);
            border-radius: 8px;
        }

        @include mx.respond(xs, md) {
            padding: map-get(var.$spacing, sm) map-get(var.$spacing, m);
            border-radius: 6px;
        }

        @include mx.respond(zero, xs) {
            padding: map-get(var.$spacing, xs) map-get(var.$spacing, sm);
            border-radius: 4px;
        }

        &__scores {
            background-color: var.$color-white;
            border-radius: 10px;
            padding: 4px 8px;

            @include mx.respond(md, lg) {
                border-radius: 8px;
            }

            @include mx.respond(xs, md) {
                padding: 2px 4px;
                border-radius: 6px;
            }

            @include mx.respond(zero, xs) {
                border-radius: 4px;
            }

            span {
                font-size: fct.px-to-rem(30);
                font-family: var.$font-gaming;

                @include mx.respond(md, lg) {
                    font-size: fct.px-to-rem(26);
                }

                @include mx.respond(sm, md) {
                    font-size: fct.px-to-rem(22);
                }

                @include mx.respond(xs, sm) {
                    font-size: fct.px-to-rem(18);
                }

                @include mx.respond(zero, xs) {
                    font-size: fct.px-to-rem(14);
                }
            }

        }

        &__current {
            span {
                font-family: var.$font-gaming;
                font-size: fct.px-to-rem(32);
                font-weight: map-get(var.$font-weights, bold);
                letter-spacing: 7%;

                @include mx.respond(md, lg) {
                    font-size: fct.px-to-rem(26);
                }

                @include mx.respond(sm, md) {
                    font-size: fct.px-to-rem(24);
                }

                @include mx.respond(xs, sm) {
                    font-size: fct.px-to-rem(20);
                }

                @include mx.respond(zero, xs) {
                    font-size: fct.px-to-rem(16);
                }
            }
        }
    }

    .score {
        font-family: var.$font-gaming;
        font-size: fct.px-to-rem(30);
        gap: 8px;

        @include mx.respond(md, lg) {
            font-size: fct.px-to-rem(24);
        }

        @include mx.respond(sm, md) {
            font-size: fct.px-to-rem(22);
            gap: 6px;
        }

        @include mx.respond(xs, sm) {
            font-size: fct.px-to-rem(18);
        }

        @include mx.respond(zero, xs) {
            font-size: fct.px-to-rem(14);
            gap: 4px;
        }
    }

    .current-player-wrapper {
        width: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 3px;
        padding: 4px 8px;

        @include mx.respond(md, lg) {
            width: 35px;
        }

        @include mx.respond(sm, md) {
            width: 30px;
        }

        @include mx.respond(xs, sm) {
            width: 25px;
            padding: 2px 4px;
        }

        @include mx.respond(zero, xs) {
            width: 20px;
        }
    }

    .score img, .current-player-wrapper img {
        width: 22px;
        height: 28px;

        @include mx.respond(md, lg) {
            width: 20px;
            height: 26px;
        }

        @include mx.respond(sm, md) {
            width: 18px;
            height: 24px;
        }

        @include mx.respond(xs, sm) {
            width: 16px;
            height: 22px;
        }

        @include mx.respond(zero, xs) {
            width: 14px;
            height: 20px;
        }
    }

    .popup__box {
        background-color: map-get(var.$gaming, popup-bg);
    }

    .popup__text {
        color: map-get(var.$gaming, popup-font);
    }

    .card {
        width: 105px;
        aspect-ratio: 0.875 / 1;

        @include mx.respond(sm, md) {
            width: 85px;
        }

        @include mx.respond(xs, sm) {
            width: 65px;
        }

        @include mx.respond-height(md, lg) {
            width: 90px;
        }

        @include mx.respond-height(sm, md) {
            width: 70px;
        }

        @include mx.respond-height(xs, sm) {
            width: 55px;
        }

        @include mx.respond-height(zero, xs) {
            width: 40px;
        }
    }

    .gameover {
        &__title {
            color: map-get(var.$gaming, pink);
            font-family: var.$font-gaming;
            font-size: fct.px-to-rem(128);
            letter-spacing: 7%;
            text-transform: uppercase;

            @include mx.respond(md, lg) {
                font-size: fct.px-to-rem(108);
            }

            @include mx.respond(sm, md) {
                font-size: fct.px-to-rem(88);
            }

            @include mx.respond(zero, sm) {
                font-size: fct.px-to-rem(68);
            }

            @include mx.respond-height(lg, xl) {
                font-size: fct.px-to-rem(90);
            }

            @include mx.respond-height(md, lg) {
                font-size: fct.px-to-rem(70);
            }

            @include mx.respond-height(sm, md) {
                font-size: fct.px-to-rem(54);
            }

            @include mx.respond-height(xs, sm) {
                font-size: fct.px-to-rem(40);
            }

            @include mx.respond-height(zero, xs) {
                font-size: fct.px-to-rem(30);
            }
        }

        &__subtitle {
            font-family: var.$font-gaming;
            letter-spacing: 7%;
        }

        &__scores {
            background-color: var.$color-white;
            border-radius: 10px;
            padding: 8px 16px;

            @include mx.respond(md, lg) {
                border-radius: 8px;
                padding: 6px 12px;
            }

            @include mx.respond(sm, md) {
                border-radius: 6px;
                padding: 4px 8px;
            }

            @include mx.respond(zero, sm) {
                border-radius: 4px;
                padding: 3px 6px;
            }

            @include mx.respond-height(md, lg) {
                padding: 6px 12px;
            }

            @include mx.respond-height(zero, md) {
                padding: 4px 8px;
            }

             & span {
                font-family: var.$font-gaming;
                font-size: fct.px-to-rem(40);
                letter-spacing: 0;

                @include mx.respond(md, lg) {
                    font-size: fct.px-to-rem(32);
                }

                @include mx.respond(sm, md) {
                    font-size: fct.px-to-rem(26);
                }

                @include mx.respond(zero, sm) {
                    font-size: fct.px-to-rem(20);
                }

                @include mx.respond-height(lg, xl) {
                    font-size: fct.px-to-rem(28);
                }

                @include mx.respond-height(md, lg) {
                    font-size: fct.px-to-rem(22);
                }

                @include mx.respond-height(zero, md) {
                    font-size: fct.px-to-rem(18);
                }
            }
        }
    }

    .winner {
        &__confetti {
            display: none;
        }

        &__subtitle {
            font-family: var.$font-gaming;
            font-size: fct.px-to-rem(28);
            letter-spacing: 7%;
            font-weight: bold;

            @include mx.respond(md, lg) {
                font-size: fct.px-to-rem(24);
            }

            @include mx.respond(sm, md) {
                font-size: fct.px-to-rem(20);
            }

            @include mx.respond(zero, sm) {
                font-size: fct.px-to-rem(16);
            }

            @include mx.respond-height(lg, xl) {
                font-size: fct.px-to-rem(22);
            }

            @include mx.respond-height(md, lg) {
                font-size: fct.px-to-rem(18);
            }

            @include mx.respond-height(sm, md) {
                font-size: fct.px-to-rem(14);
            }

            @include mx.respond-height(zero, sm) {
                font-size: fct.px-to-rem(12);
            }
        }

        &__name {
            font-family: var.$font-gaming;
            font-size: fct.px-to-rem(64);
            letter-spacing: 7%;

            @include mx.respond(md, lg) {
                font-size: fct.px-to-rem(54);
            }

            @include mx.respond(sm, md) {
                font-size: fct.px-to-rem(44);
            }

            @include mx.respond(zero, sm) {
                font-size: fct.px-to-rem(34);
            }

            @include mx.respond-height(lg, xl) {
                font-size: fct.px-to-rem(48);
            }

            @include mx.respond-height(md, lg) {
                font-size: fct.px-to-rem(38);
            }

            @include mx.respond-height(sm, md) {
                font-size: fct.px-to-rem(30);
            }

            @include mx.respond-height(xs, sm) {
                font-size: fct.px-to-rem(24);
            }

            @include mx.respond-height(zero, xs) {
                font-size: fct.px-to-rem(18);
            }
        }

         &__icon {
            width: 288px;
            aspect-ratio: 1 / 1.2;

            @include mx.respond(md, lg) {
                width: 250px;
            }

            @include mx.respond(sm, md) {
                width: 220px;
            }

            @include mx.respond(zero, sm) {
                width: 180px;
            }

            @include mx.respond-height(lg, xl) {
                width: 200px;
            }

            @include mx.respond-height(md, lg) {
                width: 160px;
            }

            @include mx.respond-height(sm, md) {
                width: 120px;
            }

            @include mx.respond-height(xs, sm) {
                width: 90px;
            }

            @include mx.respond-height(zero, xs) {
                width: 60px;
            }
        }
    }
}