@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;
@use "../base/variables" as var;

.theme-gaming {
    @include mx.apply-theme(var.$gaming);

    .btn--exit {
        background-color: rgba(map-get(var.$gaming, pink), 0.08);
        box-shadow: inset 0 0 0 2px map-get(var.$gaming, pink-border);
        border-radius: 10px;

        img {
            width: 26px;
            height: auto;
        }

        span {
        font-size: fct.px-to-rem(20);
        font-family: var.$font-gaming;
        }

        .btn__icon--default { display: block; }
        .btn__icon--hover { display: none; }

        &:hover {
            background-color: rgba(map-get(var.$gaming, pink), 0.14);
            box-shadow: 
                inset 0 0 0 3px map-get(var.$gaming, pink-border),
                4px 4px 6px 0 rgba(map-get(var.$gaming, pink-border), 0.2);

            .btn__icon--default { display: none; }
            .btn__icon--hover { display: block; }
        }
    }

    .btn--no {
        background-color: map-get(var.$gaming, pink);
        border-radius: 10px;

        &:hover {
            background-color: rgba(map-get(var.$gaming, pink), 0.7);
            box-shadow: inset 0 0 0 3px map-get(var.$gaming, pink-border);
        }
    }

    .btn--yes {
        background-color: rgba(map-get(var.$gaming, pink), 0.18);
        box-shadow: inset 0 0 0 2px map-get(var.$gaming, pink-border);
        color: map-get(var.$gaming, pink);
        border-radius: 10px;
    }

    .btn--back {
        background-color: rgba(map-get(var.$gaming, pink), 0.08);
        box-shadow: inset 0 0 0 2px map-get(var.$gaming, pink-border);
        font-family: var.$font-gaming;
        font-size: fct.px-to-rem(20);
        border-radius: 10px;

        &:hover {
            background-color: rgba(map-get(var.$gaming, pink), 0.14);
            box-shadow: inset 0 0 0 3px map-get(var.$gaming, pink-border);
        }
    }

    .game-header {
        height: 102px;
        margin-top: 41px;
        border-radius: 10px;
        background-color: rgba(map-get(var.$gaming, header-bg), 0.2);

        &__scores {
            background-color: var.$color-white;
            border-radius: 10px;
            padding: 4px 8px;

            span {
                font-size: fct.px-to-rem(30);
                font-family: var.$font-gaming;
            }

        }

        &__current {
            span {
                font-family: var.$font-gaming;
                font-size: fct.px-to-rem(32);
                font-weight: map-get(var.$font-weights, bold);
                letter-spacing: 7%;
            }
        }
    }

    .score {
        font-family: var.$font-gaming;
        font-size: fct.px-to-rem(30);
        gap: 8px;

        img {
            width: 22px;
            height: 28px;
        }

    }

    .current-player-wrapper {
        border-radius: 3px;
        padding: 4px 8px;
        margin-left: 10px;

        img {
            width: 25px;
            height: 32px;
        }
    }

    .popup__box {
        background-color: map-get(var.$gaming, popup-bg);
    }

    .popup__text {
        color: map-get(var.$gaming, popup-font);
    }

    .card {
        width: 105px;
        height: 120px;
        aspect-ratio: unset;
    }
}